body {
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 34px;
}

// -- > flex

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// -- >

.icon-size {
  font-size: 20px;
}
